<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: header"/>
<body style="background-color: #1b59b5; color: aliceblue">
<div th:replace="index :: menu"/>
<div class="container">
    <div th:replace="index :: logo"/>
<div class="row" style="margin-bottom: 5%; margin-top: 2%">
    <h1>Contact me</h1>
</div>
<div style="text-align: center">
    <table class="table" style="color: aliceblue">
        <tbody>
        <tr>
        </tr>
        <tr>
            <th scope="col"> E-mail: </th>
            <th scope="col"> zepr2022000@gmail.com</th>
        </tr>


        </tbody>
    </table>
    </div>
</div>
</div>


</body>
</html>